@font-face {
    font-family: 'Alliance No.2';
    src: local('AllianceNo.2-Black'),
        url('AllianceNo2-Black.woff2') format('woff2'),
        url('AllianceNo2-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance No.2';
    src: local('AllianceNo.2-Bold'),
        url('AllianceNo2-Bold.woff2') format('woff2'),
        url('AllianceNo2-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance No.2';
    src: local('AllianceNo.2-Light'),
        url('AllianceNo2-Light.woff2') format('woff2'),
        url('AllianceNo2-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance No.2';
    src: local('AllianceNo.2-ExtraBold'),
        url('AllianceNo2-ExtraBold.woff2') format('woff2'),
        url('AllianceNo2-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance No.2';
    src: local('AllianceNo.2-SemiBold'),
        url('AllianceNo2-SemiBold.woff2') format('woff2'),
        url('AllianceNo2-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance No.2';
    src: local('AllianceNo.2-Medium'),
        url('AllianceNo2-Medium.woff2') format('woff2'),
        url('AllianceNo2-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance No.2';
    src: local('AllianceNo.2-Regular'),
        url('AllianceNo2-Regular.woff2') format('woff2'),
        url('AllianceNo2-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

