@font-face {
    font-family: 'Hack';
    src: local('Hack Bold'), local('Hack-Bold'),
        url('Hack-Bold.woff2') format('woff2'),
        url('Hack-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hack';
    src: local('Hack Bold Italic'), local('Hack-BoldItalic'),
        url('Hack-BoldItalic.woff2') format('woff2'),
        url('Hack-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Hack';
    src: local('Hack Italic'), local('Hack-Italic'),
        url('Hack-Italic.woff2') format('woff2'),
        url('Hack-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Hack';
    src: local('Hack Regular'), local('Hack-Regular'),
        url('Hack-Regular.woff2') format('woff2'),
        url('Hack-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

